	{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1>Portofolio</h1>
	<img src = "https://scontent-ort2-1.cdninstagram.com/t51.2885-19/s150x150/13267553_1553955464906520_531706172_a.jpg" style="border-radius:50%; display:block; margin:0 auto" width="200px" height="200px">
    <hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
	<hr/>

    {% endblock %}
